@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}
body {
  background: #f5f5f5;
}
nav {
  padding-left: 10%;
  padding-right: 10%;
}
